# ── Server ────────────────────────────────────────────────────
PORT=3001
NODE_ENV=development

# ── Azure SQL Server ──────────────────────────────────────────
DB_SERVER=tkukat.database.windows.net
DB_DATABASE=KUKAT_DB
DB_USER=kukatadmin
DB_PASSWORD=root@1234!
# DB_NAME=TravelAgency
DB_ENCRYPT=true
DB_TRUST_SERVER_CERT=false


# ── Local SQL Server with SQL sa Authentication ──────────────────────────────────────────
# DB_SERVER=localhost
# DB_DATABASE=KUKAT_DB
# DB_USER=ulrich
# DB_PASSWORD=root
# DB_PORT=1433
# DB_ENCRYPT=false
# DB_TRUST_SERVER_CERT=true

# ── Local SSMS WINDOWS AUTHENTICATION Database Configuration ──────────────────────────────────────────
# DB_SERVER=localhost\SQLEXPRESS
# DB_DATABASE=KUKAT_DB
# DB_PORT=1433
# DB_ENCRYPT=false
# DB_TRUST_SERVER_CERT=true


# ── JWT ───────────────────────────────────────────────────────
JWT_SECRET=replace_with_a_long_random_secret_string_min_32_chars
JWT_EXPIRES_IN=4h

# ── CORS ─────────────────────────────────────────────────────
CORS_ORIGIN=http://localhost:3000

# ── Rate limiting ────────────────────────────────────────────
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=200
